<hr />


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="footer-links text-left">
                        <li>
                            <button class="footer-btn btn btn-link" routerLink="/home" >HOME</button>
                        </li>
                        
                        <li>
                            <button class="footer-btn btn btn-link"  routerLink="/about">ABOUT US</button>
                        </li>
                        <li>
                            <button class="footer-btn btn btn-link"  routerLink="/contact">CONTACT US</button>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-4">
                    <ul class="footer-links no-list">
                       
                        <li class="socio" style="display: inline-block;">
                            <a href="#">
                                <i class="fa fa-facebook" style="line-height: 34px; width: 34px; height: 34px; text-align: center; border-radius: 50%;"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" style="line-height: 34px; width: 34px; height: 34px; text-align: center; border-radius: 50%; "></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" style="line-height: 34px; width: 34px; height: 34px; text-align: center; border-radius: 50%; " aria-hidden="true"></i>
                            </a>
                            <a id="whatsapp-icon" href="#" (click)="onClickWhatsapp()">
                                <i class="fa fa-whatsapp" style="line-height: 34px; width: 34px; height: 34px; text-align: center; border-radius: 50%;"aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p class="text-white mb-0 mt-3 pt-3 text-center" style="border-top: 1px solid #464646;">Copyright © 2021. All rights reserved{{linkInfo}}</p>
                </div>
            </div>
        </div>
    </div>


