<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/contact">Contact</a>
            </li>
        <li class="nav-item">
          <button [disabled]="isLoggedIn()" class="btn btn-link" routerLink="/signin"> {{ getSigninButtonName() }} </button>
          <!-- <a class="nav-link" routerLink="/signin">Signin</a> -->
        </li>
        <li class="nav-item">
          <button [hidden]="isLoggedIn()" class="btn btn-link" routerLink="/signup"> Signup </button>  
          <!-- <a class="nav-link " routerLink="/signup">Signup</a> -->
        </li>
        <li class="nav-item">
          <button [disabled]="!isLoggedIn()" class="btn btn-link" routerLink="/signout" (click)="onLogout()"> Logout </button>
          <!-- <a class="nav-link  routerLink="/signout">Logout</a> -->
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
